* {
    font-family: 'Inconsolata', monospace;
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navlink{
    margin-left: 30px;
    color: black;
}

.background {
    background: radial-gradient(100% 225% at 100% 0%, #645353ed 0%, #292a27 100%), 
                linear-gradient(202deg, #44a1e3 0%, #979797 100%), 
                linear-gradient(45deg, #241E92 0%, #241E92 40%, #615885 40%, #5432D3 50%, #7B6CF6 50%, #7B6CF6 70%, #E5A5FF 70%, #E5A5FF 100%), 
                linear-gradient(180deg, #050517 0%, #01024E 43%, #543864 43%, #543864 62%, #a99ba2 62%, #7c5d6d 80%, #796c93 80%, #a9a9a8fa 100%);
    background-blend-mode: overlay, hard-light, overlay, normal;

}

.card {
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.card.form{
    padding: 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card.edit{
    overflow-x: scroll;
    position: relative;
    padding: 20px 40px;
    border-radius: 12px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input,
select,
option,
button{
    background-clip: padding-box;
    border: 1px solid #474747;
    font-family: 'Inconsolata';
    font-size: 1rem;
    font-weight: 500;
    padding: 6px 10px 6px 10px;
}

.tableeditweight{
    width: 100px;
}

.wid100{
    width: 100%;
}

.noborder{
    border: hidden;
}

.invis{
    visibility: hidden;
}

.point{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 90px;
}
.nopoint{
    margin-top: 10px;
    margin-left: 90px;
}
.btnOverview{
    padding-left: 22px;
    padding-right: 23px;
}

table {
    border-top: solid 1px #000;
    padding-top: 15px;
    margin-top: 15px;
    border-bottom: solid 1px #000;
    padding-bottom: 15px;
    border-collapse: collapse;
}

.tablelist{
    overflow-y:scroll;
    height: 450px;
    display:block;
}

th{
    background-color: #3a73d65c;
}

td, th, tr {
    padding: 5px 15px;
    height: 40px;
    border: solid 1px #404040;
}
.mark {
    background: #000;
}

.r-up-btn{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.bg-gray{
    background-color: #33333369;
}

fieldset{
    width: 100%;
}

.colum{
    display: flex;
    width: 100%;
}

.incolum{
    width: 90px;
}

.incolum0{
    width: 200px;
}

.incolum1{
    width: 150px;
}

.incolum2{
    width: 222px;
}

p{
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
    color: rgb(255, 68, 68);
}

::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgba(0, 128, 0, 0);
    border: solid 4px transparent;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.2509803922);
    border: solid 4px transparent;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background: transparent;
  }

