<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../../public/css/style.css">
    <link rel="shortcut icon" href="./../../public/svg/ico.svg">
    <title>Document</title>
</head>
<body class="background">
    <nav class="card">
        <a class="navlink" href="/m307_konzerttickets/form">Formular</a>
        <a class="navlink" href="/m307_konzerttickets/list">Order List</a>
    </nav>
    <div class="card form">
        
    </div>
</body>
</html>
